
<div class="link-item">
    <a class="link" routerLink="/home" routerLinkActive="active-link">Node.js Домашня сторінка</a>
</div>
<div class="link-item">
    <a class="link" routerLink="/intro" routerLinkActive="active-link">Node.js Вступ</a>
</div>
<div class="link-item">
    <a class="link" routerLink="/get-started" routerLinkActive="active-link">Node.js Початок</a>
</div>
<div class="link-item">
    <a class="link" routerLink="/modules" routerLinkActive="active-link">Node.js Модулі</a>
</div>
<div class="link-item">
    <a class="link" routerLink="/http-module" routerLinkActive="active-link">Node.js HTTP модулі</a>
</div>
<div class="link-item">
    <a class="link" routerLink="/file-system" routerLinkActive="active-link">Node.js Файлова система</a>
</div>
<div class="link-item">
    <a class="link" routerLink="/url-module" routerLinkActive="active-link">Node.js URL модулі</a>
</div>
<div class="link-item">
    <a class="link" routerLink="/npm" routerLinkActive="active-link">Node.js NPM</a>
</div>
<div class="link-item">
    <a class="link" routerLink="/events" routerLinkActive="active-link">Node.js Події</a>
</div>
<div class="link-item">
    <a class="link" routerLink="/upload-files" routerLinkActive="active-link">Node.js Завантаження файлів</a>
</div>
<div class="link-item">
    <a class="link" routerLink="/email" routerLinkActive="active-link">Node.js Email</a>
</div>