<h1>Вступ до Node.js</h1>
<ng-container *ngIf="currUser.lessonsCompleted.includes('intro')">
    <h3 class="marg">Ви пройшли цей урок</h3>
</ng-container>
<div class="route-btn marg">
    <a routerLink="/home" class="button" >Попередня сторінка</a>
    <a routerLink="/get-started" class="button" >Наступна сторінка</a>
</div>

<div class="marg">
    <h2>Що таке Node.js?</h2>
    <ul>
        <li>Node.js — це серверне середовище з відкритим кодом</li>
        <li>Node.js безкоштовний</li>
        <li>Node.js працює на різних платформах (Windows, Linux, Unix, Mac OS X тощо)</li>
        <li>Node.js використовує JavaScript на сервері</li>
    </ul>
    
</div>
<div class="marg">
    <h2>Чому Node.js?</h2>
    <p>Загальним завданням вебсервера може бути відкриття файлу на сервері та повернення вмісту клієнту.</p>
    <p>Ось як PHP або ASP обробляє запит на файл:</p>
    <ol style="margin-left: 25px;">
        <li>Надсилає завдання до файлової системи комп’ютера.</li>
        <li>Очікує, поки файлова система відкриється та прочитає файл.</li>
        <li>Повертає вміст клієнту.</li>
        <li>Готовий виконати наступний запит.</li>
    </ol>
    <p></p>
    <p>Ось як PHP або ASP обробляє запит на файл:</p>
    <ol style="margin-left: 25px;">
        <li>Надсилає завдання до файлової системи комп’ютера.</li>
        <li>Очікує, поки файлова система відкриється та прочитає файл.</li>
        <li>Повертає вміст клієнту.</li>
        <li>Готовий виконати наступний запит.</li>
    </ol>
    <p></p>
    
    <p>Node.js усуває очікування та просто продовжує з наступним запитом.</p>
    <p>Node.js виконує однопотокове, неблокуюче, асинхронне програмування, яке дуже ефективно використовує пам’ять.

    </p>
</div>
<div class="marg">
    <h2>Що може робити Node.js?</h2>
    <ul>
        <li>Node.js може створювати динамічний вміст сторінки.</li>
        <li>Node.js може створювати, відкривати, читати, записувати, видаляти та закривати файли на сервері.</li>
        <li>Node.js може збирати дані форми.</li>
        <li>Node.js може додавати, видаляти та змінювати дані у вашій базі даних.</li>
    </ul>
    
</div>
<div class="marg">
    <h2>Що таке файл Node.js?</h2>
    <ul>
        <li>Файли Node.js містять завдання, які виконуватимуться під час певних подій.</li>
        <li>Типовою подією є спроба доступу до порту на сервері.</li>
        <li>Файли Node.js мають бути запущені на сервері, перш ніж вони матимуть будь-який ефект.</li>
        <li>Файли Node.js мають розширення ".js".</li>
    </ul>
    
</div>
<div class="route-btn marg">
    <a routerLink="/home" class="button" >Попередня сторінка</a>
    <a routerLink="/get-started" class="button" (click)="nextPage()">Наступна сторінка</a>
</div>